public class Automovel{
    public static void main(String [] args){
        // cria instancia/objeto de Automovel
        Automovel fusca  = new Automovel();
        
        // altera os atributos do objeto fusca
        fusca.marca = "volkswagen";
        fusca.cor = "azul";
        fusca.Velocidade = 500;
        
        System.out.println("Marca: " + fusca.marca);
        System.out.println("cor: "+ fusca.cor);
        fusca.acelerar();

        System.out.println("Velocidade: "+fusca.Velocidade+"kM");
        
    }
        
    // Atributos
    String marca;
    String cor;
    int Velocidade;
    
    // Metodos
    void buzinar(){
        System.out.println("BEEEEP....");
    }
    void acelerar(){
        Velocidade = Velocidade +1;
        
    }
    
    void reduzir(){
        Velocidade = Velocidade -1;
    }
}
